body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('space4k.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h2{
    font-size: 24px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
}

ul{
    font-size: 18px;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 34px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h3{
    font-size: 22px;
    color: rgb(255, 255, 255);
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
}

img {
    max-width: 100%;
    height: auto;
}

#changeTextBtn{
    font-size: 20px;
    color:white;
    background-color: rgb(58, 58, 58);
    border: rgb(17, 0, 255) solid 1px;
}

#changeStyleBtn{
    font-size: 20px;
    color:white;
    background-color: rgb(58, 58, 58);
    border: rgb(17, 0, 255) solid 1px;
}